.ui-dropdown{
    width: 100% !important;
}
/*.ui-dialog{
    width : 75% !important
}


p-dialog .ui-dialog {
    overflow: scroll !important;
    max-height: 80% !important;
} */
.active{
    overflow: scroll !important;
    max-height: 80% !important;
    width : 75% !important
}

.uploadDialog{
    width : 27% !important;
}

    
.uploadDialog.ui-dialog .ui-dialog-content {
      padding: 2.571em 10em !important;
      height: 80% !important;
   } 
  






.updateAsDialog{
    height: 40% !important;
    width : 27% !important;
  }

  .updateAsDialog.ui-dialog .ui-dialog-content {
    height: 40% !important;
  } 