
.ui-dialog{
    width: 27% !important
  }
  
  
  .ui-dialog .ui-dialog-content {
    padding: 2.571em 10em !important;
    height: 80% !important;
  }

  body {
    background-color: black !important;
  }

  
  